html,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 10px;
}

input:invalid {
	border-color: red;
}

input:focus {
	outline: none;
}

button {
	display: block;
	margin: 10px 0;
	font-size: 1.2rem;
}
